fastapi
uvicorn[standard]
sqlalchemy>=2.0.36
psycopg2-binary==2.9.9
alembic==1.13.1
pydantic
pydantic-settings
python-jose[cryptography]==3.3.0
gunicorn==22.0.0
bcrypt==4.0.1
python-multipart==0.0.9
feedparser==6.0.11
requests==2.32.2
beautifulsoup4==4.12.3
python-dotenv==1.0.1
langchain-google-genai>=1.0.8
python-dateutil>=2.9.0
langchain-postgres
pgvector
langchain-community>=0.2.4
apscheduler>=3.10.4
